
body {
    background-color: #1b0738;
    color: #d9d9d9;
    font-family: 'Anton', sans-serif;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    height: 100vh;
    margin: 0;
    padding: 20px 0;
    box-sizing: border-box;
    cursor: default;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-img {
    max-width: 40%;
    opacity: .8;
    text-align: center;
}

#search-field {
    width: 250px;
    height: 15px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #d9d9d9;
    padding: 10px /*  45px 20px 20px */;
    text-align: center;
}

#search-field-icon {
    vertical-align: middle;
    transform: translateX(-160%);
    color: rgba(255, 255, 255, .2);
}

#cart-icon {
    font-size: 3em;
    color: rgba(255, 255, 255, .2);
}

#cart-icon:hover, #search-field-icon:hover {
    cursor: pointer;
    color: #9d1168;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    color: #4333b7;
}

nav ul li:hover{
    /* text-shadow: 0 0 3px #6e98ae; */
    text-decoration: underline 3px solid #9d1168;
}

.active-tab {
    text-decoration: underline 3px solid rgba(255, 255, 255, .125);
}

nav ul li {
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    font-size: 150%;
}

#product-pictures {
    float: left;
    width: 38%;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 100px;
    /* margin: 10px; */
}

#product-description {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    justify-content: center;
}

#main-picture {
    width: 100%;
    height: auto;
}

#small-pictures {
    display: flex;
    justify-content: space-between;
}

.small-picture {
    width: 30%;
    cursor: pointer;
    opacity: 0.8;
}

.small-picture.selected {
    border: 2px solid #6f5499;
    opacity: 1;
}

#chose-model-txt {
    color: #888;
    margin-bottom: .5em;
}

.model-button {
    font-family: inherit;
    /* display: inline-block; */
    margin: 0 5px;
    padding: 10px 25px;
    border: 3px solid #888;
    background: #d9d9d9;
    cursor: pointer;
    width: 150px;
    height: 40px;
    white-space: nowrap;
    /* box-sizing: border-box; */
}

.model-button.selected {
    border: 3px solid #9d1168; /* #6f5499 */ 
}

#add-to-cart {
    display: block;
    width: 72%;
    padding: 10px;
    margin-top: 20px;
    background-color: #6f5499;
    color: #d9d9d9;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    font-size: 120%;
}

#add-to-cart:hover {
    border: 2px solid #9d1168;
    opacity: .8;
}

.product-link-desc {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80%;
    color: #888;
}

.product-title {
    margin-top: 0;
    font-size: 280%; /* Vergrößert */
}

#price {
    font-size: 160%; /* Vergrößert */
    margin-bottom: 0;
}

.price-subtitle {
    color: #888; /* Dunkler und kleiner */
    font-size: 80%;
    margin-top: 0;
}

#model-selection {
    margin-top: 3em;
    margin-bottom: 3em;
}

#product-text {
    margin-bottom: 3em;
    padding-left: 13px;
    line-height: 1.8em;
    list-style: none;
}

#product-text li span {
    vertical-align: middle; /* icon zentrieren */
}

#product-text li span:hover {
    color: #9d1168;
}

.content-container {
    display: flex;
    justify-content: space-evenly;
}

.lower-description {
    max-width: 80%;
    margin: 40px auto;
}

/* ---------- accordeon ----------- */

 .accordion {
    background-color: #1b0738;
    color: #888;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border: 1px solid rgba(255, 255, 255, .2);
    font-family: inherit;
  }
  
  .active, .accordion:hover {
    background-color: rgba(255, 255, 255, .2);
  }
  
  .panel {
    padding: 0 18px;
    background-color: #1b0738;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #888;
  }

  .accordion:after {
    content: '\02795'; 
    font-size: 13px;
    /* color: #888; */
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
  }


  /* -------------- landing page ------------------------ */

  #landingPage-container {
    background: url(assets/bg2.jpeg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: center;
  }


  #shop-now-btn {
    position: relative;
    margin-top: 8rem;
    font-family: inherit;
    width: 200px;
    padding: 15px;
    color: white;
    background: rgba(111, 84, 153, .95);
    border: none;
    font-size: 1.5em;
    border-radius: 8px;
    box-shadow: 0 0 15px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  #shop-now-btn:hover{
    cursor: pointer;
    background: rgba(80, 223, 219, .95);
  }
  
/*   #shop-now-btn span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
  }
  
  #shop-now-btn span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  #shop-now-btn span:nth-child(2)
  {
    transform:rotate(90deg);
    height: 295%;
  }
  
  #shop-now-btn span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  #shop-now-btn span:nth-child(4)
  {
    transform:rotate(270deg);
    height: 295%;
  }
  
  #shop-now-btn span:before
  {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width:100%;
    height: 4px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform:scaleX(0);
      transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
      transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
      transform-origin: right;
    }
    100%
    {
      transform:scaleX(0);
      transform-origin: right;
    }
  } */


  

/*   #shop-now-btn {
    margin-top: 8rem;
    font-family: inherit;
    width: 200px;
    padding: 15px;
    color: white;
    background: #6f5499;
    font-size: 1.5em;
    border-radius: 8px;
    box-shadow: 0 0 10px;
  } */
  
